*{
    box-sizing: border-box;
    margin: 0;

}
body{
    height: 100vh;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.animation{
    width: 150px;
    height: 150px;
    position: relative;

    animation:rotating linear 8s infinite  ;

}
.square{
    width: 50px;
    height: 50px;
    border: solid 4px #0B1B48;
    position: absolute;
}
#left{
    top: 50px;
    left:0px;
    animation:movingRight ease-in-out 1s infinite alternate;
}
#right{
    left:100px;
    top: 50px;
    animation:movingLeft ease-in-out 1s infinite alternate;
}
#top{
    top: 0px;
    left: 50px;
    animation:movingTop ease-in-out 1s infinite alternate;

}
#bottom{
    left: 50px;
    top: 100px;
    animation:movingBottom ease-in-out 1s infinite alternate;

}
@keyframes movingRight {
    from{transform: translateX(0px); border-color:#EE4D68 }
    to{transform: translateX(50px)} }

@keyframes movingLeft {
    from{transform: translateX(0px); border-color:#875678 }
    to{transform: translateX(-50px) }
}
@keyframes movingTop {
    from{transform: translateY(0px); border-color:#FF9900 }
    to{transform: translateY(50px) }
}
@keyframes movingBottom {
    from{transform: translateY(0px); border-color:#00E4F6 }
    to{transform: translateY(-50px) }
}
@keyframes rotating {
    0%{transform: rotate(0)}
    12.5%{transform: rotate(-45deg)}
    25%{transform: rotate(-90deg)}
    37.5%{transform: rotate(-135deg)}
    50%{transform: rotate(-180deg)}
    62.5%{transform: rotate(-225deg)}
    75%{transform: rotate(-270deg)}
    87.5%{transform: rotate(-315deg)}
    100%{transform: rotate(-360deg)}


}